/* header */
.header {
  min-height: 100%;
  .header__content {
    @include bgCoverCenter;
    @include boxShadow;
    min-height: 100vh;
    background-image: url("/img/bg5.png");
    color: $primary;
    display: flex;
    align-items: center;
  }
  .header__content__wrapper {
    @include boxShadow;
    background-color: $lightOpacity;
    padding: 10px;
    text-align: end;
    h1 {
      text-transform: uppercase;
    }
  }
}
/* nav */
.nav {
  &:hover {
    background-color: white;
  }
  @include flex-justify-between;
  @include positionFixed;
  left: 0;
  width: 100%;
  background-color: $lightOpacity;
  color: $primary;
  padding: 0 20px;

  img {
    max-width: 100%;
    max-height: 50px;
  }
  .nav__brand {
    @include flex-justify-around;
    gap: 15px;
    h2 {
      color: $primary;
      text-decoration: underline;
      font-weight: 700;
      font-size: 22px;
    }
  }
  .nav__icons {
    font-size: 16px;
  }
}
/* shoping-cart favorite-cart */
.cart,
.favorites {
  .card {
    @include boxShadow;
    padding: 10px;
  }
  .card-wrapper,
  .empty-cart {
    margin-top: 100px;
  }

  .empty-cart {
    text-align: center;
  }
  img {
    max-width: 100px;
  }
  p {
    margin-top: 10px;
  }
}
.success {
  @include positionFixed;
  @include bgCoverCenter;
  @include boxShadow;
  @include flex-justify-around;
  align-items: center;
  background-image: url("/img/bg3.jfif");
  width: 60%;
  height: 60%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

  .success-wrapper {
    background-color: $lightOpacity;
    @include boxShadow;
    @include flex-col;
    width: 70%;
    height: 70%;
    gap: 10px;
    color: $primary;
    padding: 20px;
    align-items: flex-start;
    border: 2px solid white;
  }
}
/* shoping-cart */
.cart {
  .card {
    @include flex-justify-between;
  }
  .cart__footer {
    margin: 20px 0;
    @include flex-end;
  }
  .cart__total {
    @include flex-end;
    gap: 10px;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    align-items: flex-end;
    width: 200px;
  }
  .continue-btn {
    font-size: 16px;
    color: white;
    background-color: black;
    border-radius: 0%;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
  }
}
/* favorite-cart */
.favorites {
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 10px;
  }
  .card {
    @include flex-col;
    position: relative;
    align-items: center;
  }
  .card__header {
    text-align: center;
  }
  .btn-close {
    position: absolute;
    top: 4px;
    right: 1px;
    font-size: 14px;
    color: $secondary;
  }
}
/* modal */
.modal-wrapper {
  @include flex-justify-center;
  @include positionFixed;
  left: 0;
  width: 100%;
  background-color: $dark;
  height: 100%;

  .modal {
    @include borderRadius;
    @include boxShadow();
    @include flex-justify-between;
    align-items: normal;
    min-width: 500px;
    min-height: 300px;
    flex-direction: column;
    background-color: white;
    color: $primary;
  }
  .modal__header {
    @include boxShadow();
    text-align: center;
    color: $primary;
    padding: 20px;
    position: relative;
    .btn-close {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  .modal__body {
    @include flex-justify-around;
    font-family: "Kaushan Script";
    padding: 20px;
    gap: 20px;
    text-transform: uppercase;
    img {
      width: 100px;
      @include borderRadius;
      @include boxShadow();
    }
  }
  .modal__footer {
    @include flex-justify-around;
    padding: 20px;
  }
  .modal-action {
    padding: 10px 30px;
    background-color: $accent;
  }
}
/* products */
.our-products {
  margin-top: 100px;
  .our-products__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }
  .card {
    @include flex-justify-between;
    @include boxShadow;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    position: relative;
    overflow: hidden;
  }
  .card-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
  }
  img {
    object-fit: contain;
    max-width: 18em;
    height: auto;
  }
}
/* about-us */
.about-us {
  min-height: 600px;
  margin-top: 80px;

  .about-us__content {
    @include flex-justify-center;
    align-items: center;
    gap: 40px;
    img {
      @include boxShadow;
      @include borderRadius;
      width: 300px;
    }
    p{
      text-align: justify;
    }
  }
}
/* footer */
.footer {
  background-color: $primary;
  color: white;
  margin-top: 20px;
  text-align: center;
  .footer-content {
    padding: 4px;
  }
  p {
    margin: 0;
  }
}
/* form */
.client-form {
  @include positionFixed;
  height: 100%;
  right: 0;
  padding: 20px;
  color: white;
  background-color: $primary;
  overflow-x: scroll;
  .form-control {
    @include flex-col;
    margin-top: 10px;
  }
  .error-message {
    color: $accent;
  }
  .btn {
    margin-top: 20px;
    color: $primary;
    background-color: white;
    margin-right: 10px;
  }
}
/* Medias */
@media (max-width: 768px) {
  .nav__logo {
    display: none;
  }
  .modal-wrapper {
    .modal {
      min-width: 80%;
    }
  }
  .about-us {
    .about-us__content {
      flex-wrap: wrap;
    }
  }
  .success {
    width: 70%;
    height: 50%;
    .success-wrapper {
      width: 80%;
      height: auto;
    }
  }
  .footer {
    margin-top: 40px;
  }
}

@media (max-width: 480px){
  .modal-wrapper {
    .modal {
      min-width: 100%;
    }
  }
  .success {
    width: 100%;
    height: 50%;
    .success-wrapper {
      width: 90%;
      height: auto;
    }
  }
}
@media (max-width: 350px) {
  .home{
    display: none;
  }
  .our-products {
    .our-products__products {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  
}
