@import "~normalize.css";
@import "./styles/mixins-variables";
@import "./styles/components.scss";
@import "@fortawesome/fontawesome-free/css/all.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Merienda", cursive;
}

button {
  background-color: transparent;
  @include borderRadius;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.favorite {
  margin-right: 5px;
  color: $accent;
}
.basket {
  color: $primary;
  border: 2px solid $primary;
}
a{
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus,
a:active,
a:visited {
  color: $accent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  color: white;
  background-color: $primary;
  padding: 10px 15px;
  font-size: 16px;
  @include boxShadow();
}
